body{
    background: url("../images/alter.jpg") no-repeat;
    background-size: 100% 100%;
}

input {
    background-color: transparent;
    margin-right: 10px;
}

.al_content p {
    padding: 40px 10px 0px 10px;
}

