<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>controller.AlterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/controller/AlterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/controller/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet3</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet3</servlet-name>
        <url-pattern>/controller/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet4</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet4</servlet-name>
        <url-pattern>/controller/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet5</servlet-name>
        <servlet-class>controller.ManagerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet5</servlet-name>
        <url-pattern>/controller/ManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet6</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet6</servlet-name>
        <url-pattern>/controller/AdminServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>